body {
    font-family: 'Calibir';
}

.services {
    margin-left: 10px;
}

.services-item {
    width: 20%;
    height: 40vh;
    overflow: hidden;
    background-color: none;
    position: relative;
}

.services-item:hover {
    animation: none;
}